
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event Registration system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron { 
        background-image:url("{% static 'bimg1.jpg'%}");
        margin-bottom:0;
        color:alicebluep;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Event Registration system</h1>      
    <p>Event Organizer</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
      {%if "uname" in request.session%}
      <a class="navbar-brand" href="#">Welcome {{request.session.uname}}</a>
      {%else%}
      <a class="navbar-brand" href="#">Welcome</a>
      {%endif%}
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events
            <span class="caret"></span></a>
             <ul class="dropdown-menu">
              {%for cat in cats%}
              <li><a href="/ShowEvent/{{cat.id}}">{{cat.event_type}}</a></li>
              {%endfor%}
             </ul>
          </li>
        
          <li class="nav-item">
            <a class="nav-link disabled" href="/Address" tabindex="-1" aria-disabled="true">Location</a>    
          </li>
  
        </ul>
        
      <ul class="nav navbar-nav navbar-right">
          {%if "uname" in request.session%}
          <li><a href="/Logout"><span class="glyphicon glyphicon-user"></span> Logout </a></li>
          <li><a href="/ShowAllBookedTicket"><span class="glyphicon glyphicon-user"></span> Booked Events</a></li>
          {%else%}
        <li><a href="/Login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
        <li><a href="/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
        
        
        {%endif%}
      </ul>
    </div>
  </div>
</nav>

{%block index%}
<div class="container">
  <h1>{{event_type}}</h1>
    <div class="row ">

            {%for event in events%}
            <div class="col-sm-5">
              
                  <div class="panel panel-primary">
                    <div class="panel-heading">{{event.Event_name}}</div>
                    <div class="panel-body"><img src="{{event.event_image.url}}" class="img-responsive" style="width:500px;height:200px;" alt="Image"></div>
                    <div class="panel-footer">{{event.Date}}</br>
                    End time: {{event.end_time}}</br>
                    <a href="/Address">Address: {{event.address}}</a></br>
                    mobile :{{event.mobile}}
                    </br>
                    ticket:{{event.ticekt_amount}}
                  </br>
                    <a href="/ShowDetails/{{event.id}}">ShowDetails</a>
                  </div>
                  </div>
                  </div>
                  {%endfor%}
                </div>
              </div>
            </div><br><br>
            {%endblock%}
            <footer class="container-fluid text-center">
              <p>Online Eivent Copyright</p>  
              <form class="form-inline">Get deals:
                <input type="email" class="form-control" size="50" placeholder="Email Address">
                <button type="button" class="btn btn-danger">Sign Up</button>
              </form>
            </footer>
            
            </body>
            </html>

