{%extends "index.html"%}
{%block index%}
<div class="container">    
    <form method="post">
        {%csrf_token%}
       
        <table class="table">
            <tr><td>Enter Login Id</td>
                <td><input type="text" name="uname" class="form-control"/></td></tr>
            <tr><td>Enter Password</td>
                    <td><input type="text" name="pwd"  class="form-control"/></td></tr>
            <tr>
                <td><button class="button btn-primary" type="submit">Login</button></td>
            </tr>
        </table>
    </form>
  </div><br>
  
{%endblock%}